
<h2>REST-API for Biocaching</h2>

<p>This page documents the Biocaching REST-based APIs.</p>

<h3>Taxonomies</h3>
The Taxonomies service gives a list of the taxonomies in the Species database.
 
<h4>GET /taxonomies?format=json</h4>
<p>Retrieves the list of taxonomies in json format.</p>

<h3>Taxa</h3>
The Taxa services give access to the species database: 

<h4>GET /taxonomies/&lt;taxonomy_id&gt;/taxa?format=json</h4>
<p>Retrieves taxa from a specific taxonomy in json format.</p>
<p>Called with no extra parameters, this service returns the taxa with rank "kingdom"</p>


<h5>Optional parameters</h5>
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <dl >
        <dt>from</dt>
        <dd>Return a subset of the taxa, start at 'from', default = 0</dd>
        <dt>size</dt>
        <dd>Return 'size' number of taxa, default = 10</dd>
        <dt>parent_id</dt>
        <dd>Return taxa that are immediate children of another taxa. If omitted, return taxa on the highest level (the kingdoms: animalia, plantae and fungi)</dd>
        <dt>fields</dt>
        <dd>If omitted, only a subsets of the available fields are included in the response. Pass value "all" to have all available fields returned.</dd>
    </dl>
  </div>
</div>

<h5>Examples</h5>
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <dl >
        <dt>Get taxa without parents (the kingdoms):</dt>
        <dd><%=link_to taxonomy_taxa_url(1, format: :json), taxonomy_taxa_path(1, format: :json)%></dd>
        <dt>Get all 35 taxa in the animal kingdom:</dt>
        <dd><%=link_to taxonomy_taxa_url(1, format: :json, parent_id: 1, size: 50), 
                       taxonomy_taxa_path(1, format: :json, parent_id: 1, size: 50 )%></dd>
        <dt>Get all taxa in the chordata phylum:</dt>
        <dd><%=link_to taxonomy_taxa_url(1, format: :json, parent_id: 11, size: 50), 
                       taxonomy_taxa_path(1, format: :json, parent_id: 11, size: 50 )%></dd>
    </dl>
  </div>
</div>



<h4>GET /taxonomies/&lt;taxonomy_id&gt;/taxa/search?format=json&term=&lt;search_term&gt;</h4>
<p>Search, by name, for taxa in a specific taxonomy.</p>

<h5>Optional parameters</h5>
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <dl>
        <dt>term</dt>
        <dd>Search for search_term in scientific and common names of taxa with rank genus, species and infraspecific. If omitted, all taxa are returned.</dd>
        <dt>from</dt>
        <dd>Return a subset of the taxa, start at 'from', default = 0</dd>
        <dt>size</dt>
        <dd>Return 'size' number of taxa, default = 10</dd>
        <dt>below_rank, below_rank_value</dt>
        <dd>return only taxa below a certain rank in the taxonomy. E. g.: to only retrieve birds add parameters: below_rank=class and below_rank_value=aves</dd>
        <dt>fields</dt>
        <dd>If omitted, only a subsets of the available fields are included in the response. Pass value "all" to have all available fields returned.</dd>
        <dt>languages[]</dt>
        <dd>Only return taxa that have common names in the specified languages (ISO 639-2). E.g. &languages[]=eng&languages[]=fra</dd>
    </dl>
  </div>
</div>


<h5>Examples</h5>
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <dl >
        <dt>Get the 5 first species in the mammalia class (mammals):</dt>
        <dd><%=link_to search_taxonomy_taxa_url(1, format: :json, from: 0, size: 5, below_rank: :class, below_rank_value: :mammalia), 
                       search_taxonomy_taxa_path(1, format: :json, from: 0, size: 5, below_rank: :class, below_rank_value: :mammalia)%></dd>
        <dt>Get the 5 next species in the mammalia class (mammals):</dt>
        <dd><%=link_to search_taxonomy_taxa_url(1, format: :json, from: 5, size: 5, below_rank: :class, below_rank_value: :mammalia), 
                       search_taxonomy_taxa_path(1, format: :json, from: 5, size: 5, below_rank: :class, below_rank_value: :mammalia)%></dd>
       <dt>Search for birds named something with "fody", return at most 10 results:</dt>
       <dd><%=link_to search_taxonomy_taxa_url(1, format: :json, below_rank: :class, below_rank_value: :aves, term: "fody"), 
              search_taxonomy_taxa_path(1, format: :json, below_rank: :class, below_rank_value: :aves, term: "fody")%></dd>
    </dl>
  </div>
</div>


<h4>GET /taxa/&lt;id&gt;?format=json</h4>
<p>Retrieves a single species, given it's id.</p>