<!DOCTYPE html>
<html>
<head>
  <title>BootstrapTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'shared/navigation' %>
    <%= yield(:head) %>
    <div id="form-container" class="container-fluid">
      <div class="row">
        <div id="sidebar-left" class="col-xs-1">
          <!-- sidebar content -->
        </div>
        <div id="main-content" class="col-xs-10">
          <!--  main content -->
          <%= yield(:form) %>
        </div>
        <div id="sidebar-right" class="col-xs-1">
          <!-- sidebar content -->
        </div>
      </div>
    </div>

    <div id="main-container" class="container-fluid">
      <div class="row">
        <div id="sidebar" class="col-xs-1">
          <!-- sidebar content -->
        </div>
        <div id="main-content" class="col-xs-9">
          <!--  main content -->

          <%= yield %>
        </div>        
        <div id="sidebar" class="col-xs-2">
          <!-- sidebar content -->
        </div>
      </div>
    </div>

    <%= yield(:footer) %>

</body>
</html>
